<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homepage.css">
  <title>Alpha-Blog</title>
</head>

<header>
  <%= render 'pages/top_navigation' %>
  <div class="centered_content">
    <h1 class="page_title">Listing all articles</h1>
    <br>
    <p> <%= button_to "Create new article", article_news_path, :method => "get" %>
    <br>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Edit</th>
        </tr>

        <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= button_to "Edit #{article.id}", edit_article_path(article), :method => "get" %></td>
          <td><%= button_to "Show", article_path(article), :method => "get" %></td>
          <td><%= button_to "Delete", article_path(article), :method => "delete", data: {confirm: "Are you sure?"} %></td>

        </tr>
        <% end %>
      </table>
  </div>
</header>
