<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homepage.css">
  <title>Alpha-Blog</title>
</head>
<body>
    <!-- --------------------------------->
    <header>
      <img id="logo" src="/images/kai_logo.png">
      <h1 id="page_header">Kai <br>Nass</h1>
      <ul class="header_ul">
        <li class="header_li"><p><%= link_to 'Homepage', root_path %></p></li>
        <li class="header_li"><p><%= link_to 'About', about_path %></p></li>
        <li class="header_li"><a href="#">Imprint</a></li>
      </ul>

      <div class="header_div">
        <h2>This is your About page.<br>Mate.</h2>
        <p class="btn btn_leer"><%= link_to 'Homepage', root_path %></p>
        <p class="btn btn_leer"><%= link_to 'Artikel', article_news_path %></p>
        <p class="btn btn_voll"><%= link_to 'Author', author_new_path %></p>

      </div>
    </header>
    <section>
        <h2>About</h2>
    </section>
</body>
